<section>
  <form [formGroup]="userRegister" (ngSubmit)="onSubmit()">


    <!-- Input firstName -->
    <mat-form-field appearance="fill">
      <mat-label>first Name</mat-label>
      <input
        matInput
        formControlName="firstName"
        maxlength="5"
        placeholder="first Name"
        minlength="2"
      />
      <!-- <mat-hint text-align="end">{{postalCode.value.length}} / 5</mat-hint> -->
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>

    <!-- Input lastName -->
    <mat-form-field appearance="fill">
      <mat-label>last Name</mat-label>
      <input
        matInput
        formControlName="lastName"
        placeholder="last-Name"
        minlength="2"
      />
      <mat-icon matSuffix>home</mat-icon>
    </mat-form-field>

   <!-- Input email -->
   <mat-form-field appearance="fill">
    <mat-label>e-mail</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="Votre mail"
    />
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
       <!-- Input pays -->
       <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input
        matInput
          placeholder="Taper votre pays"
          aria-label="Pays"
          formControlName="country"
          minlength="2"
        />
        <mat-icon matSuffix>language</mat-icon>
      </mat-form-field>
 <!-- Input de l'adresse -->
 <mat-form-field appearance="fill">
  <mat-label>Street</mat-label>
  <input
    type="text"
    matInput
    formControlName="street"
    placeholder="Votre adresse"
    minlength="2"
  />
  <mat-icon matSuffix>home</mat-icon>
</mat-form-field>



    <!-- Input password -->
    <mat-form-field appearance="fill">
      <mat-label>Mot de Passe</mat-label>
      <input
        matInput
        formControlName="password"
        placeholder="Votre mot de passe"
      />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <!-- Input confirm password -->
    <mat-form-field appearance="fill">
      <mat-label>Confirmation de mot de passe</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        placeholder="Votre mot de passe à confirmer"
      />
      <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>

    <button mat-raised-button class="sendButton" type="submit" color="primary">
      Valider
    </button>
    <div class="loginBtn">
      <p>déja inscrit ?</p>
      <a   (click)="clickToLogin()" type="submit" color="primary">
        Se connecter
      </a>
    </div>

  </form>
</section>
