// body {
//   margin: 0;
//   padding-top: 40px;
//   color: #2e323c;
//   background: #f5f6fa;
//   position: relative;
//   height: 100%;
// }
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  color: #2e323c;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(113, 113, 139);

}
h1 {
  font-size: 32px;
  color: #333;
  text-shadow: #333;
  letter-spacing: 3px;
  margin: 20px;
}
.all {
  display: flex;
  margin: 20px ;
  text-align: center;
  justify-content: center;
  align-items: center;
      .personalDetail{
        margin-right: 10%;
      }
}
.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
.text-right{
  display: flex;
  justify-content: center;

}
button {
margin: 10px;
width: 70px;
height: 30px;
cursor: pointer;
transition: all ease-in-out 0.2s;

    &:hover{
      transform: scale(1.1);
    }
}
.container {
  margin: 5% 10% 0 0;

}
