<!-- <!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>
    <ul>
        <li><a href="#" routerLink="home" >Home</a></li>
        <li><a href="#" routerLink="profil">Profil</a></li>
        <li><a href="#" routerLink="lists">Lists</a></li>
        <li><a href="#" routerLink="contact">Contact</a></li>
    </ul>
</body>
</html> -->

<!-- <section>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="menu-open-button" for="menu-open">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>

    <a href="#" routerLink="home" class="menu-item"> <i class="fa fa-home"></i> </a>
    <a href="#" routerLink="profil" class="menu-item" > <i class="fa fa-user"></i></a>
    <a href="#" routerLink="lists" class="menu-item"> <i class="fa fa-check-square-o"></i></a>
    <a href="#" routerLink="contact" class="menu-item"> <i class="fa fa-phone"></i></a>
    <button (click)="onDisconnect()">disconnect</button>

  </nav>


  </section> -->
  <section>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <nav class="menu">
      <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
      <label class="menu-open-button" for="menu-open">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
      </label>

      <a href="#" routerLink="home" class="menu-item"> <i class="fa fa-home"></i> </a>
      <a href="#" routerLink="profil" class="menu-item" > <i class="fa fa-user"></i></a>
      <a href="#" routerLink="lists" class="menu-item"> <i class="fa fa-check-square-o"></i></a>
      <a href="#" routerLink="contact" class="menu-item"> <i class="fa fa-phone"></i></a>
      <a href="#"  class="menu-item"> <i class="fa fa-sign-out"></i></a>
    </nav>


    </section>
